$white : #fff;
$blue : #3c76ff;
$green : #0fb600;
$light : #f8f8f8;
$text-color : #002050;
$darker : #979797;
$border : #d9d9d9;
$yellow: #f49301;
$h2 : 40px;
$h3 : 20px;
$h4 : 15px;
$h5 : 12px;
@mixin input-border{
    padding: 10px;
    border: 1px solid $border;
    border-radius: 5px;
}
/*  GLOBALS  */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: sans-serif;
}

h2{
    font-size: $h2;
}
h3{
    font-size: $h3;
}
h4{
    font-size: $h4;
    font-weight: 300;
}
h5{
    font-weight: 400;
}
.g-span, .g-label{
    font-size: $h5;
    font-weight: 400;
}
.g-input{
    @include input-border();
    height: 18px;
    font-size: $h4;
}
.g-select{
    @include input-border();
    -webkit-appearance: none;
  appearance: none;
    font-size: $h4;
}
.btn{
    padding: 10px 50px;
    text-align: center;
    color: $blue;
    border-color: transparent;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: $h4;
}
.btn-2{
    border: 1px solid $blue !important;
}
.btn-1{
    border: transparent;
}
.container{
    padding: 0 16px;
}



/* HEADER */

header{
    position: relative;
    background-color: $light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    .responsive-nav-btn{
        display: none;
    }
}

/* RESPONSIVE SIDE NAVIGATION
will display only after max-width: 991px
*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $light;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    ul{
        list-style-type: none;
        & > li{
            & > a{
                text-decoration: none;
                color: $text-color;
                display: flex;
                align-items: center;
                font-size: $h4;
                padding: 10px 0;
                i{
                    padding-right: 15px;
                    width: 15px;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                }
            }
            &:hover, &.active{
                a{
                    color: $blue;
                }
            }
        }
    }

    .closebtn{
        position: absolute;
        top: 0;
        text-decoration: none;
        color: $text-color;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  }

/* MAIN NAVIGATION */

.navbar-nav{
    & > ul{
        display: flex;
        & > li{
            list-style-type: none;
            & > a{
                color: $text-color;
                padding: 20px;
                font-size: $h4;
                text-decoration: none;
                i{
                    padding-right: 7px;
                }
            }
            &:hover, &.active{
                & > a{
                    color: $blue;
                }
            }
        }
    }
}
.navbar-user{
    display: flex;
    align-items: center;
    a{
        font-size: 20px;
        margin-left: 15px;
        color: $blue;
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
    }

    .profile-img{
        cursor: pointer;
    }
    .profile-modal{
        position: absolute;
        background-color: white;
        min-width: 150px;
        max-width: 170px;
        right: 16px;
        display: none;
        top: 50px;
        z-index: 222;
        padding: 20px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        h5{
            margin: 5px 0 0 0;
        }
        label{
            color: $darker;
        }
        button{
            font-size: $h4;
            color: #000;
            font-weight: 300;
            padding-left: 0;
            i{
                color: $blue;
                padding-right: 7px;
            }
        }
    }
}



/* TABLE HEADER */

.app-header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    h2{
        color: $text-color;
    }

    /* TABLE FILTERS */

    .table-filter{
        width: 60%;
        margin-left: auto;
        display: flex;
        .filters-wrapper{
            display: flex;
            width: 100%;
            .filter{
                max-width: 300px;
                margin-right: 20px;
                display: flex;
                width: inherit;
                position: relative;
                align-items: center;

                select{
                    position: relative;
                    flex: 1;
                    option:first-child{
                        display: none !important;
                    }
                }
                label{
                    color: $darker;
                    padding-right: 10px;
                }
            }
        }

    }
    /* TABLE SEARCH */

    .table-search{
        border-radius: 5px;
        position: relative;
        min-width: 200px;
        max-width: 300px;
        display: flex;
        align-items: center;
        i{
            position: absolute;
            right: 10px;
            color: $blue;
        }
        input{
        padding-right: 30px;
        width: 100%;
        }
    }
}


/* MODAL FOR DELETE BUTTON ON TABLE */

.table-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    .modal-inner{
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        text-align: center;
        background-color: $white;
        max-width: 320px;
        padding: 30px;
        margin: auto;
        i{
            display: block;
            font-size: 70px;
            padding-bottom: 20px;
            color: $yellow;
        }
    }
}
/*---TABLE CSS--*/

.responsive-table{
    overflow-x: auto !important;
    border-radius: 10px;
    overflow: hidden;
    table{
        border-spacing: 0;
        width: 100%;
        /* TABLE HEAD */
        thead{
            background-color: $light;
            th{
                padding: 0.85rem 0.85rem;
                text-align: left;
                min-width: 150px;
                font-size: $h5;
                color: $darker;
                font-weight: 300;
                border-bottom: 1px solid $darker;
            }
        }
        /* TABLE BODY */
        tbody{
            tr:hover{
                background-color: $light;
            }
            td{
                padding: 1.2rem 0.85rem;
                text-align: left;
                min-width: 150px;
                font-weight: 300;
                font-size: $h4;
                border-bottom: 1px solid $border;
                &:last-child{
                    text-align: right;
                    button{
                        margin-left: 10px;
                        border: none;
                        font-size: $h4;
                        background-color: transparent;
                        cursor: pointer;
                        &.reload{
                            color: $blue;
                        }
                        &.delete{
                            color:red;
                        }
                    }
                }
            }
        }
    }
    /* TABLE BADGES */
    .badge{
        font-size: $h5;
        border: 1px solid;
        border-radius: 50px;
        padding: 5px 10px;
        width: 75px;
        text-align: center;
    }

    .inprogress{
        border-color: #979797;
        color: #979797;
        background-color: #97979727;
    }
    .started{
        border-color: $blue;
        color: $blue;
        background-color: #3c76ff11;
    }
    .failed{
        border-color: red;
        color: red;
        background-color: rgba(255, 0, 0, 0.057);
    }
    .complete{
        color: $green;
        border-color: $green;
        background-color: #0fb60012;
    }
}

/* TABLE FOOTER WITH PAGINATION */
.table-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    padding: 10px 16px;
    color: $darker;
    margin-top: 10px;
    border-radius: 5px;
    .pagination{
        a{
            text-decoration: none;
            padding: 8px;
            color: $darker;
        }
    }
}

/* MEDIA QUERIES FOR RESPONSIVENESS */


@media (max-width: 1200px) {
    .app-header{
        display: block;
        .table-filter{
            width: 100%;
        }
    }
}
@media (max-width: 991px){

    header{
        .responsive-nav-btn{
            display: block;
        }
        .navbar-nav{
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .filters-wrapper{
        display: none !important;
    }
    .app-header{
        .flex-item{
            &:nth-child(2){
                order: 1;
            }
            &:nth-child(1){
                order: 2;
            }
        }
        .table-filter{
            width: 100%;
            flex-wrap: wrap;
            .filters-wrapper{
                order: 2;
                .filter{
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .table-search{
                width: 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .table-footer{
        display: block;
        text-align: center;
        .pagination{
            padding-top: 10px;
        }
    }
}




  @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
  }