/*  GLOBALS  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: sans-serif;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 15px;
  font-weight: 300;
}

h5, .h5 {
  font-weight: 400;
}

span, label {
  font-size: 12px;
  font-weight: 400;
}

input {
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 18px;
  font-size: 15px;
}

select {
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-size: 15px;
}

.btn {
  padding: 10px 50px;
  text-align: center;
  color: #3c76ff;
  border-color: transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}

.btn-2 {
  border: 1px solid #3c76ff !important;
}

.btn-1 {
  border: transparent;
}

.container {
  padding: 0 16px;
}

/* HEADER */
header {
  position: relative;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
header .responsive-nav-btn {
  display: none;
}

/* RESPONSIVE SIDE NAVIGATION
will display only after max-width: 991px
*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav ul {
  list-style-type: none;
}
.sidenav ul > li > a {
  text-decoration: none;
  color: #002050;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 10px 0;
}
.sidenav ul > li > a i {
  padding-right: 15px;
  width: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.sidenav ul > li:hover a, .sidenav ul > li.active a {
  color: #3c76ff;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  text-decoration: none;
  color: #002050;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* MAIN NAVIGATION */
.navbar-nav > ul {
  display: flex;
}
.navbar-nav > ul > li {
  list-style-type: none;
}
.navbar-nav > ul > li > a {
  color: #002050;
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
}
.navbar-nav > ul > li > a i {
  padding-right: 7px;
}
.navbar-nav > ul > li:hover > a, .navbar-nav > ul > li.active > a {
  color: #3c76ff;
}

.navbar-user {
  display: flex;
  align-items: center;
}
.navbar-user a {
  font-size: 20px;
  margin-left: 15px;
  color: #3c76ff;
}
.navbar-user a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.navbar-user .profile-img {
  cursor: pointer;
}
.navbar-user .profile-modal {
  position: absolute;
  background-color: white;
  min-width: 150px;
  max-width: 170px;
  right: 16px;
  display: none;
  top: 50px;
  z-index: 222;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
}
.navbar-user .profile-modal h5 {
  margin: 5px 0 0 0;
}
.navbar-user .profile-modal label {
  color: #979797;
}
.navbar-user .profile-modal button {
  font-size: 15px;
  color: #000;
  font-weight: 300;
  padding-left: 0;
}
.navbar-user .profile-modal button i {
  color: #3c76ff;
  padding-right: 7px;
}

/* TABLE HEADER */
.app-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  /* TABLE FILTERS */
  /* TABLE SEARCH */
}
.app-header h2 {
  color: #002050;
}
.app-header .table-filter {
  width: 60%;
  margin-left: auto;
  display: flex;
}
.app-header .table-filter .filters-wrapper {
  display: flex;
  width: 100%;
}
.app-header .table-filter .filters-wrapper .filter {
  max-width: 300px;
  margin-right: 20px;
  display: flex;
  width: inherit;
  position: relative;
  align-items: center;
}
.app-header .table-filter .filters-wrapper .filter select {
  position: relative;
  flex: 1;
}
.app-header .table-filter .filters-wrapper .filter select option:first-child {
  display: none !important;
}
.app-header .table-filter .filters-wrapper .filter label {
  color: #979797;
  padding-right: 10px;
}
.app-header .table-search {
  border-radius: 5px;
  position: relative;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  align-items: center;
}
.app-header .table-search i {
  position: absolute;
  right: 10px;
  color: #3c76ff;
}
.app-header .table-search input {
  padding-right: 30px;
  width: 100%;
}

/* MODAL FOR DELETE BUTTON ON TABLE */
.table-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.table-modal .modal-inner {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #fff;
  max-width: 320px;
  padding: 30px;
  margin: auto;
}
.table-modal .modal-inner i {
  display: block;
  font-size: 70px;
  padding-bottom: 20px;
  color: #f49301;
}

/*---TABLE CSS--*/
.responsive-table {
  overflow-x: auto !important;
  border-radius: 10px;
  overflow: hidden;
  /* TABLE BADGES */
}
.responsive-table table {
  border-spacing: 0;
  width: 100%;
  /* TABLE HEAD */
  /* TABLE BODY */
}
.responsive-table table thead {
  background-color: #f8f8f8;
}
.responsive-table table thead th {
  padding: 0.85rem 0.85rem;
  text-align: left;
  min-width: 150px;
  font-size: 12px;
  color: #979797;
  font-weight: 300;
  border-bottom: 1px solid #979797;
}
.responsive-table table tbody td {
  padding: 1.2rem 0.85rem;
  text-align: left;
  min-width: 150px;
  font-weight: 300;
  font-size: 15px;
  border-bottom: 1px solid #d9d9d9;
}
.responsive-table table tbody td:last-child {
  text-align: right;
}
.responsive-table table tbody td:last-child button {
  margin-left: 10px;
  border: none;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}
.responsive-table table tbody td:last-child button.reload {
  color: #3c76ff;
}
.responsive-table table tbody td:last-child button.delete {
  color: red;
}
.responsive-table .badge {
  font-size: 12px;
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 10px;
  width: 75px;
  text-align: center;
}
.responsive-table .inprogress {
  border-color: #979797;
  color: #979797;
  background-color: rgba(151, 151, 151, 0.1529411765);
}
.responsive-table .started {
  border-color: #3c76ff;
  color: #3c76ff;
  background-color: rgba(60, 118, 255, 0.0666666667);
}
.responsive-table .failed {
  border-color: red;
  color: red;
  background-color: rgba(255, 0, 0, 0.057);
}
.responsive-table .complete {
  color: #0fb600;
  border-color: #0fb600;
  background-color: rgba(15, 182, 0, 0.0705882353);
}

/* TABLE FOOTER WITH PAGINATION */
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px 16px;
  color: #979797;
  margin-top: 10px;
  border-radius: 5px;
}
.table-footer .pagination a {
  text-decoration: none;
  padding: 8px;
  color: #979797;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media (max-width: 1200px) {
  .app-header {
    display: block;
  }
  .app-header .table-filter {
    width: 100%;
  }
}
@media (max-width: 991px) {
  header .responsive-nav-btn {
    display: block;
  }
  header .navbar-nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .filters-wrapper {
    display: none !important;
  }
  .app-header .flex-item:nth-child(2) {
    order: 1;
  }
  .app-header .flex-item:nth-child(1) {
    order: 2;
  }
  .app-header .table-filter {
    width: 100%;
    flex-wrap: wrap;
  }
  .app-header .table-filter .filters-wrapper {
    order: 2;
  }
  .app-header .table-filter .filters-wrapper .filter:last-child {
    margin-right: 0;
  }
  .app-header .table-filter .table-search {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .table-footer {
    display: block;
    text-align: center;
  }
  .table-footer .pagination {
    padding-top: 10px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */