$white : --white;
$blue : --blue-500;
$green : --green-500;
$light : --gray-100;
$text-color : --blue-900;
$darker : --gray-400;
$border : --gray-300;
$yellow: --yellow-400;
$h1 : --text-4xl;
$h2 : --text-3xl;
$h3 : --text-xl;
$h4 : --text-base;
$h5 : --text-sm;
$h6 : --text-xs;
@import"mixins.scss";
/*  GLOBALS  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: sans-serif;
}
h1{
    font-size: $h4;
}
h2{
    font-size: $h2;
}
h3{
    font-size: $h3;
}
h4{
    font-size: $h4;
    font-weight: 300;
}
h5{
    font-weight: 400;
}
.g-span, .g-label{
    font-size: $h5;
    font-weight: 400;
}
.g-input{
    @include input-border();
    height: 18px;
    font-size: $h4;
}
.g-select{
    @include input-border();
    -webkit-appearance: none;
  appearance: none;
    font-size: $h4;
}
.btn{
    padding: 10px 50px;
    text-align: center;
    color: $blue;
    border-color: transparent;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: $h4;
}
.btn-2{
    border: 1px solid $blue !important;
}
.btn-1{
    border: transparent;
}
.container{
    padding: 0 16px;
}
