:root {
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
  
    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-12: 48px;
  
    --white: #ffffff;
    --black: #000000;
  
    --blue-50: #ebf4ff;
    --blue-100: #E0EEFF;
    --blue-200: #C2DEFF;
    --blue-250: #DAEFFE;
    --blue-300: #99C7FF;
    --blue-400: #64A7FA;
    --blue-500: #128AED;
    --blue-600: #056BBF;
    --blue-700: #0759CC;
    --blue-800: #0C44A5;
    --blue-900: #003059;
  
    --orange-50: #FFF8F1;
    --orange-100: #FEECDC;
    --orange-700: #B43403;
    --orange-800: #8A2C0D;
  
    --green-50: #F3FAF7;
    --green-100: #DEF7EC;
    --green-400: #57B176;
    --green-500: #0fb600;
    --green-700: #046C4E;
    --green-800: #03543F;
  
    --yellow-50: #FDFDEA;
    --yellow-400: #E3A008;
    --yellow-700: #8E4B10;
  
    --magenta-400: #F98080;
    --magenta-500: #F70059;
  
    --gray-25: #FAFAFA;
    --gray-50: #F9FAFB;
    --gray-75: #F7F7F8;
    --gray-100: #f8f8f8;
    --gray-200: #E5E7EB;
    --gray-250: #CBDAE2;
    --gray-300: #d9d9d9;
    --gray-400: #979797;
    --gray-500: #6B7280;
    --gray-600: #4B5563;
    --gray-700: #374151;
    --gray-800: #1F2A37;
    --gray-900: #111928;
  
    --font-thin: 100;
    --font-extraliht: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
  
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;
    --text-5xl: 48px;
    --text-6xl: 60px;
    --text-7xl: 96px;
    --text-8xl: 128px;
    
  }
  
  //breakpoints
  $xsBreakpoint : 575px;
  $smBreakpoint : 767px;
  $mdBreakpoint : 991px;
  $lgBreakpoint : 1199px;
  $xlBreakpoint : 1399px;
  
  
  
  
  
  
  
  