


/* TABLE HEADER */

.app-header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    h2{
        color: $text-color;
    }

    /* TABLE FILTERS */

    .table-filter{
        width: 60%;
        margin-left: auto;
        display: flex;
        .filters-wrapper{
            display: flex;
            width: 100%;
            .filter{
                max-width: 300px;
                margin-right: 20px;
                display: flex;
                width: inherit;
                position: relative;
                align-items: center;

                select{
                    position: relative;
                    flex: 1;
                    option:first-child{
                        display: none !important;
                    }
                }
                label{
                    color: $darker;
                    padding-right: 10px;
                }
            }
        }

    }
    /* TABLE SEARCH */

    .table-search{
        border-radius: 5px;
        position: relative;
        min-width: 200px;
        max-width: 300px;
        display: flex;
        align-items: center;
        i{
            position: absolute;
            right: 10px;
            color: $blue;
        }
        input{
        padding-right: 30px;
        width: 100%;
        }
    }
}


/* MODAL FOR DELETE BUTTON ON TABLE */

.table-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    .modal-inner{
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        text-align: center;
        background-color: $white;
        max-width: 320px;
        padding: 30px;
        margin: auto;
        i{
            display: block;
            font-size: 70px;
            padding-bottom: 20px;
            color: $yellow;
        }
    }
}




/* MEDIA QUERIES FOR RESPONSIVENESS */


@media (max-width: 1200px) {
    .app-header{
        display: block;
        .table-filter{
            width: 100%;
        }
    }
}
@media (max-width: 991px){

    header{
        .responsive-nav-btn{
            display: block;
        }
        .navbar-nav{
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .filters-wrapper{
        display: none !important;
    }
    .app-header{
        .flex-item{
            &:nth-child(2){
                order: 1;
            }
            &:nth-child(1){
                order: 2;
            }
        }
        .table-filter{
            width: 100%;
            flex-wrap: wrap;
            .filters-wrapper{
                order: 2;
                .filter{
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .table-search{
                width: 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .table-footer{
        display: block;
        text-align: center;
        .pagination{
            padding-top: 10px;
        }
    }
}




  @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
  }