/* TABLE HEADER */

.app-header {
    display: flex;
    align-items: center;
    padding: var(--spacing-5) 0;
    .app-main-heading {
        color: $text-color;
    }

    /* TABLE FILTERS */

    .table-filter {
        display: flex;
        width: 60%;
        margin-left: auto;
    }
    .filters-wrapper {
        display: flex;
        width: 100%;
        .filter {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 300px;
            margin-right: var(--spacing-5);
            .filter-label {
                padding-right: var(--spacing-2);
                color: $darker;
            }
            .filter-select {
                width: 100%;
                flex: 1;
                option:first-child {
                    display: none !important;
                }
            }
        }
    }
    /* TABLE SEARCH */

    .table-search {
        display: flex;
        position: relative;
        align-items: center;
        min-width: 200px;
        max-width: 300px;
        border-radius: var(--radius-md);
        .search-icon {
            position: absolute;
            right: var(--radius-lg);
            color: $blue;
        }
        .search-input {
            width: 100%;
            padding-right: var(--spacing-7);
        }
    }
}

/*---TABLE CSS--*/

.responsive-table {
    overflow: hidden;
    overflow-x: auto !important;
    border-radius: var(--radius-lg);
    table {
        border-spacing: 0;
        /* TABLE HEAD */
        thead {
            background-color: $lighter;
            th {
                text-align: left;
                font-size: $h5;
                color: $darker;
                font-weight: $font-300;
                min-width: 150px;
                padding: var(--spacing-4);
                border-bottom: 1px solid $darker;
            }
        }
        /* TABLE BODY */
        tbody {
            tr:hover {
                background-color: $lighter;
            }
            td {
                text-align: left;
                font-weight: $font-300;
                font-size: $h4;
                min-width: 150px;
                padding: var(--spacing-5) var(--spacing-4);
                border-bottom: 1px solid $light;
                &:last-child {
                    text-align: right;
                    button {
                        font-size: $h4;
                        margin-left: var(--spacing-2);
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        &.reload {
                            color: $blue;
                        }
                        &.delete {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}
/* TABLE BADGES */
.badge {
    font-size: $h5;
    border: 1px solid;
    border-radius: 50px;
    padding: var(--spacing-1) var(--spacing-3);
    width: 75px;
    text-align: center;
}

.badge.inprogress {
    border-color: $darker;
    color: $darker;
    background-color: $lighter;
}
.badge.started {
    border-color: $blue;
    color: $blue;
    background-color: $half-blue;
}
.badge.failed {
    border-color: $red;
    color: $red;
    background-color: $half-red;
}
.badge.complete {
    color: $green;
    border-color: $green;
    background-color: $half-green;
}

/* TABLE FOOTER WITH PAGINATION */
.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darker;
    padding: 10px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: $light;
    .pagination {
        & > a {
            text-decoration: none;
            color: $darker;
            padding: 8px;
        }
    }
}
/* MODAL FOR DELETE BUTTON ON TABLE */

.table-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .modal-inner {
        text-align: center;
        max-width: 320px;
        padding: var(--spacing-7);
        border-radius: var(--radius-md);
        background-color: $white;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
        .modal-icon {
            display: block;
            font-size: var(--text-7xl);
            padding-bottom: var(--spacing-5);
            color: $yellow;
        }
    }
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@include lg-breakpoint {
    .app-header {
        display: block;
        .table-filter {
            width: 100%;
        }
    }
}
@include md-breakpoint {
    header {
        .responsive-nav-btn {
            display: block;
        }
        .navbar-nav {
            display: none;
        }
    }
}
@include sm-breakpoint {
    .table-filter {
        .filters-wrapper {
            display: none;
        }
    }
    .app-header {
        .flex-item {
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(1) {
                order: 2;
            }
        }
        .table-filter {
            width: 100%;
            flex-wrap: wrap;
            .filters-wrapper {
                order: 2;
                .filter {
                    &:last-child {
                        margin-right: var(--spacing-0);
                    }
                }
            }
            .table-search {
                width: 100%;
                max-width: 100%;
                margin-bottom: var(--spacing-2);
            }
        }
    }

    .table-footer {
        display: block;
        text-align: center;
        .pagination {
            padding-top: var(--spacing-3);
        }
    }
}

@include xs-breakpoint {
    .sidenav {
        padding-top: var(--spacing-4);
    }
}
