
@import"mixins.scss";
/*  GLOBALS  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: sans-serif;
}
h1{
    font-size: $h1;
}
h2{
    font-size: $h2;
}
h3{
    font-size: $h3;
}
h4{
    font-size: $h4;
    font-weight: var(--font-light);
}
h5{
    font-weight: var(--font-normal);
}
.container{
    padding: 0 var(--spacing-4);
}
.g-span, .g-label{
    font-size: $h5;
    font-weight: var(--font-normal);
}
.g-input{
    @include input-border();
    height: 18px;
    font-size: $h4;
}
.g-select{
    @include input-border();
    -webkit-appearance: none;
  appearance: none;
    font-size: $h4;
}
.btn {
    padding: 0;
}
.btn{
    text-align: center;
    color: $blue;
    padding: var(--spacing-2) var(--spacing-12);
    background-color: transparent;
    border-radius: var(--radius-sm);
    border-color: transparent;
    cursor: pointer;
    font-size: $h4;
}
.btn-2{
    border: 1px solid $blue;
}
.btn-1{
    border: transparent;
}
