
@mixin input-border{
    padding: var(--spacing-2);
    border: 1px solid $light;
    border-radius: var(--radius-sm);
};


//Break Points

@mixin xs-breakpoint {
    @media (max-width: $xsBreakpoint){
      @content
    }
};
@mixin sm-breakpoint {
    @media (max-width: $smBreakpoint){
      @content
    }
};
@mixin md-breakpoint {
    @media (max-width: $mdBreakpoint){
      @content
    }
};
@mixin lg-breakpoint {
    @media (max-width: $lgBreakpoint){
      @content
    }
};
@mixin xl-breakpoint {
    @media (max-width: $xlBreakpoint){
      @content
    }
};