:root {
    --radius-xs : 2px;
    --radius-sm : 4px;
    --radius-md : 6px;
    --radius-lg : 8px;
    --radius-xl : 12px;
  
    --spacing-0 : 0px;
    --spacing-1 : 4px;
    --spacing-2 : 8px;
    --spacing-3 : 12px;
    --spacing-4 : 16px;
    --spacing-5 : 20px;
    --spacing-6 : 24px;
    --spacing-7 : 28px;
    --spacing-8 : 32px;
    --spacing-9 : 36px;
    --spacing-10: 40px;
    --spacing-12: 48px;
  
    --white      : #ffffff;
    --black      : #000000;
  
    --blue-50    : #ebf4ff;
    --blue-500   : #128AED;
    --blue-900   : #003059;
  
    --red-50     : #fff1f1;
    --red-500    : #ff0000;

    --green-50   : #F3FAF7;
    --green-500  : #0fb600;
  
    --yellow-50  : #FDFDEA;
    --yellow-400 : #E3A008;
    --yellow-700 : #8E4B10;
  
    --magenta-400: #F98080;
    --magenta-500: #F70059;
  
    --gray-100   : #f8f8f8;
    --gray-300   : #d9d9d9;
    --gray-400   : #979797;
  
    --font-thin       : 100;
    --font-extralight : 200;
    --font-light      : 300;
    --font-normal     : 400;
    --font-medium     : 500;
    --font-semibold   : 600;
    --font-bold       : 700;
    --font-extrabold  : 800;
    --font-black      : 900;
  
    --text-xs   : 12px;
    --text-sm   : 14px;
    --text-base : 16px;
    --text-lg   : 18px;
    --text-xl   : 20px;
    --text-2xl  : 24px;
    --text-3xl  : 30px;
    --text-4xl  : 36px;
    --text-5xl  : 48px;
    --text-6xl  : 60px;
    --text-7xl  : 70px;
    --text-8xl  : 128px;
    
  }
  
  //breakpoints
  $xsBreakpoint : 575px;
  $smBreakpoint : 767px;
  $mdBreakpoint : 991px;
  $lgBreakpoint : 1199px;
  $xlBreakpoint : 1399px;
  


//colors
$primary    : var(--blue-900);
$light      : var(--gray-300);
$red        : var(--red-500);
$half-red   : var(--red-50);
$white      : var(--white);
$black      : var(--black);
$blue       : var(--blue-500);
$half-blue  : var(--blue-50);
$green      : var(--green-500);
$half-green : var(--green-50);
$lighter      : var(--gray-100);
$text-color : var(--blue-900);
$darker     : var(--gray-400);
$yellow     : var(--yellow-400);
//font-sizes
$h1 : var(--text-4xl);
$h2 : var(--text-3xl);
$h3 : var(--text-xl);
$h4 : var(--text-base);
$h5 : var(--text-sm);
$h6 : var(--text-xs);
//font weights
$font-100 : var(--font-thin);
$font-200 : var(--font-extralight);
$font-300 : var(--font-light);
$font-400 : var(--font-normal);
$font-500 : var(--font-medium);
$font-600 : var(--font-semibold);
$font-700 : var(--font-bold);
$font-800 : var(--font-extrabold);
$font-900 : var(--font-black);
  
  
  
  
  
  
  